
header{background-color: #fff1d1;width: 100%;height: 30px;}
footer{background-color: #9cd1db;width: 100%;height: 30px;}
table{font-family: 'verdana', sans-serif;font-size: 15px;}
table{border: 1px solid #fff1d1;background-color: #fff1d1;width: 100%;height: 400px;text-align: center;}
h1{font-family: 'verdana', sans-serif;font-size: 20px;}
#één{background-color: #FAD775;}
#twee{background-color: #e6d672; img {width: 300px;}}
#drie{background-color: #cdd370;}
#vier{background-color: #c0d171; img {width: 300px;}} 
#vijf{background-color: #adce74;}
#zes{background-color: #9bca77; img {width: 300px;}}   
#zeven{background-color: #8ac67c;}
#acht{background-color: #79c181; img {width: 300px;}}
#negen{background-color: #69bc86;}
#tien{background-color: #5bb78b; img {width: 300px;}}
#elf{background-color: #4db190;}
#twaalf{background-color: #42ab94; img {width: 300px;}}
#dertien{background-color: #38a497;}
#veertien{background-color: #319e9a; img {width: 300px;}}
#vijftien{background-color: #2e979b;}
#zestien{background-color: #2f909b; img {width: 300px;}}